.footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    .btns {
        margin-left: auto;
        display: flex;
        gap: 8px;
        align-items: center;
    }
}
